[Unit]
Description=Scan1544 Service
After=network.target
StartLimitBurst=10
StartLimitIntervalSec=300

[Service]
Type=simple
SyslogIdentifier=scan1544
WorkingDirectory=/home/firmin/balise_406MHz/dec406_scan/
Environment=DEC406_BACKEND=hackrf
Environment=DEC406_ALERT_MODE=downlink
Environment=DEC406_ALERT_CENTER=43.0,1.5
Environment=DEC406_ALERT_RADIUS_KM=250
Environment=RTL_DIAG=0
Environment=DSSS_DIAG=0
Environment=ACQ_BANDPASS_HZ=0
Environment=DUMP_FAIL=0
Environment=DUMP_OK=0
ExecStart=/home/firmin/balise_406MHz/dec406_scan/build/dec406_scan 1544.0M 1545.0M
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=25
RuntimeMaxSec=41400
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
